#promo_banner {
  @extend .columns;
  height: 5em;
  margin: 0 !important;
  color: green;

  .promo_banner_content{
     @extend .column;
     padding: 0;
     width: 60%;
     p {
text-align: center;
     }



  }
}