// @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

$red: red;
$blue: #00188A;
$light-grey: #F1F1F1;
$primary-color: $blue;
$font: 62.5%;

$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;